
<section class="room-list">
    <div class="container">
        <h2> {{ rooms.title }} </h2>

        <div ng-controller="ModalCtrl">
            <button class="new-room-click" ng-click="this.newChatRoom()">Create New Chat Room</button>
        </div>

        <div ng-repeat="room in rooms.allRooms" ng-controller="RoomCtrl">
            <p> <a ng-click="rooms.selectRoom(room)">{{ room.name }} </a> </p>
        </div>
     </div>

     <div class="current-user" ng-controller="RoomCtrl">
       <p><strong>Current User: </strong></p>
       <p> {{ rooms.currentUser }} </p>
       <button class="current-user-click" ng-click="rooms.newUser()">Set New User</button>
       <button class="reset-user-click" ng-click="rooms.resetUser()">Reset Username</button>

     </div>
</section>

<section class="chat-section">
    <h1> {{ rooms.currentRoom.name }} </h1>
    <!-- <p> {{ rooms.allRooms }} </p> -->

    <div class="container">
        <table>
            <tr><th>User</th><th>Time Sent</th><th>Message</th></tr>

                <tr ng-repeat="message in rooms.messages">
                    <td>{{ message.username }}</td>
                    <td>{{ message.sent }}</td>
                    <td>{{ message.content }}</td>
                </tr>

        </table>
        <form>
          <input type="text" ng-model="newMessage" size="92" placeholder="Send message... ">
          <button ng-click="rooms.sendMessage()">Send</button>
        </form>
    </div>
</section>
